<div class="d-flex justify-content-center py-5">
    <div class="settings-panel w-100">
        <div *ngFor="let setting of getSettings()" class="my-2">
            <ng-container *ngIf="!setting.condition || settings[setting.condition].value" [ngSwitch]="typeOf(setting.value)">
                <ng-container *ngSwitchCase="'boolean'">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [id]="'setting' + setting.key"
                            [(ngModel)]="setting.value">
                        <label class="form-check-label user-select-none" [for]="'setting' + setting.key">
                            {{ setting.title }}
                        </label>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'undefined'">
                    <button class="btn btn-secondary" type="button" (click)="saveSetting(setting)">{{setting.title}}</button>
                    <!-- <div class="form-check"> -->
                        <!-- <input class="form-check-input" type="checkbox" [id]="'setting' + setting.key" -->
                            <!-- [(ngModel)]="setting.value"> -->
                        <!-- <label class="form-check-label user-select-none" [for]="'setting' + setting.key"> -->
                            <!-- {{ setting.title }} -->
                        <!-- </label> -->
                    <!-- </div> -->
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <label [for]="'setting' + setting.key" class="form-label user-select-none">{{ setting.title }}</label>
                    <input type="'text" class="form-control" [id]="'setting' + setting.key" [(ngModel)]="setting.value">
                </ng-container>
            </ng-container>
        </div>
        <div class="row mt-4 gap-3">
            <a routerLink="/home" class="col btn btn-secondary w-100">Cancel</a>
            <button type="button" class="col btn btn-success w-100" (click)="saveSettings()">Save</button>
        </div>
    </div>
</div>
