<ng-container *ngIf="plugin && plugin.content !== undefined; else loading">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="plugin.content"></ngx-monaco-editor>
</ng-container>
<ng-template #loading>
    <ng-container *ngIf="plugin">
        <div *ngIf="plugin.error" class="alert alert-error py-1">
            Could not load plugin,
            <br/>
            check your settings!
        </div>
        <div *ngIf="!plugin.error" class="text-center my-2">
            <div class="btn loading">Loading plugin...</div>
        </div>
    </ng-container>
</ng-template>
