<div class="d-flex flex-column">
    <div class="list-group">
        <div *ngFor="let plugin of mandatoryPlugins" class="list-group-item">
            <button (click)="selectPlugin.emit(plugin)" type="button" class="btn"
                [ngClass]="plugin === selectedPlugin ? 'btn-secondary' : 'btn-outline-secondary'">
                {{ plugin.name }}
            </button>
        </div>
        <div *ngFor="let plugin of selectedPlugins" class="list-group-item">
            <div class="btn-group" role="group">
                <button (click)="selectPlugin.emit(plugin)" type="button" class="btn"
                    [ngClass]="plugin === selectedPlugin ? 'btn-secondary' : 'btn-outline-secondary'">
                    {{ plugin.name }}
                </button>
                <button (click)="removePlugin.emit(plugin)" type="button" class="btn btn-danger">-</button>
            </div>
        </div>
    </div>
    <button *ngIf="!addingPlugin" type="button" class="btn btn-primary mt-1" (click)="addingPlugin = true">
        Add Plugin
    </button>
    <ng-container *ngIf="addingPlugin">
        <button type="button" class="btn btn-danger mt-1" (click)="addingPlugin = false">
            Cancel
        </button>
        <input type="text" class="form-control mt-1" placeholder="Search" [formControl]="searchControl" autofocus>
        <div class="list-group">
            <button *ngFor="let plugin of searchedOptionalPlugins" (click)="addingPlugin = false; addPlugin.emit(plugin)"
                type="button" class="list-group-item list-group-item-action">
                {{plugin}}
            </button>
        </div>
    </ng-container>
</div>
