<div class="flex flex-row h-full">
    <div class="sidebar overflow-auto">
        <h4 class="text-center mt-2">Plugins</h4>
        <div class="divider m-0"></div>
        <!-- <hr class="my-1"> -->
        <app-plugin-list [mandatoryPlugins]="pluginService.getMandatoryPlugins()"
            [optionalPlugins]="pluginService.getOptionalPlugins()"
            [selectedPlugins]="pluginService.getSelectedPlugins()"
            [selectedPlugin]="pluginService.getSelectedPlugin()"
            (addPlugin)="pluginService.addSelectedPlugin($event)"
            (removePlugin)="pluginService.removeSelectedPlugin($event)"
            (selectPlugin)="pluginService.selectSelectedPlugin($event)"></app-plugin-list>
    </div>
    <div class="divider divider-horizontal m-0 w-auto"></div>
    <div class="grow">
        <app-advanced-config-editor [plugin]="pluginService.getSelectedPlugin()"></app-advanced-config-editor>
    </div>
    <div class="divider divider-horizontal m-0 w-auto"></div>
    <div class="flex flex-col sidebar">
        <h4 class="text-center my-2">Build</h4>
        <div class="divider m-0"></div>
        <div class="grow">
            <ng-container *ngIf="this.settingsService.getSetting('activate_build_api').value; else noBuildApi">
                <ng-container *ngIf="buildSourceInfo$ | async as buildSourceInfo; else buildSourceInfoErrorTemp">
                </ng-container>
                <ng-template #buildSourceInfoErrorTemp>
                    <div *ngIf="!buildInfoError && buildSourceInfoError" class="mb-2 alert alert-error py-1">
                        Something went wrong while comparing the Build Api Source Version
                    </div>
                    <div *ngIf="!buildSourceInfoError" class="mb-2 alert alert-info py-1">
                        Build Api Source Version not Matching
                    </div>
                </ng-template>
                <form *ngIf="buildInfo$ | async as buildInfo; else buildInfoLoading" (ngSubmit)="build()">
                    <div *ngIf="!buildResultLink && !buildLoading && buildError === undefined" class="mb-4">
                        <div class="mb-2">
                            <label class="form-label" for="buildOs">OS:</label>
                            <select class="form-select" id="buildOs" [(ngModel)]="buildOs" name="os"
                                (change)="changeOs(buildInfo)">
                                <option *ngFor="let os of buildInfo.os | keyvalue" [value]="os.key">{{os.key}}</option>
                            </select>
                        </div>
                        <div>
                            <label class="form-label" for="buildArch">Arch:</label>
                            <select class="form-select" id="buildArch" [(ngModel)]="buildArch" name="arch">
                                <option *ngFor="let arch of buildInfo.os[buildOs]" [value]="arch">{{arch}}</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success w-full mt-2">Build</button>
                        </div>
                    </div>
                    <div *ngIf="buildLoading" class="text-center my-2">
                        <div class="spinner-border" role="status"></div>
                        <div>Building...</div>
                    </div>
                    <ng-container *ngIf="buildError || buildResultLink">
                        <div *ngIf="buildError" class="mb-4 alert alert-error py-1">
                            Build failed 😿
                        </div>
                        <button type="button" class="btn btn-success w-full mt-2" (click)="newBuild()">New Build</button>
                        <a *ngIf="!buildError" class="btn btn-success w-full mt-2" target="_blank"
                            [href]="buildResultLink">Download Build</a>
                    </ng-container>
                </form>
                <ng-template #buildInfoLoading>
                    <div *ngIf="buildInfoError" class="alert alert-error py-1">
                        Could not connect to Build Api,
                        <br />
                        check your settings!
                    </div>
                    <div *ngIf="!buildInfoError" class="text-center my-2">
                        <div class="spinner-border" role="status"></div>
                        <div>Loading build info...</div>
                    </div>
                </ng-template>
            </ng-container>
            <ng-template #noBuildApi>
                <a class="btn btn-success w-full" target="_blank"
                    href="https://portal.influxdata.com/downloads/#telegraf">
                    Telegraf Download Page
                </a>
            </ng-template>
            <div>
                <button type="button" class="btn btn-success w-full mt-3"
                    (click)="pluginService.downloadConfig()">Download
                    Config</button>
            </div>
        </div>
        <div>
            <a routerLink="/settings" class="btn btn-secondary w-full">Settings</a>
        </div>
    </div>
</div>
