/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./theme.scss";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.h-full {
    height: 100% !important;
}
